/* custom font upload */
@font-face { 
font-family: 'Century';
src: url(./verizon.otf);
}


/* removes shadow from internal link bar and contact box */
 .navbar {
  box-shadow: none !important;
  }
 .contact {
  box-shadow: none !important;
  }


/* modifications for image of me */
.img-thumbnail {
    border: none;  /* removes border from 'about' image */
    width: 700px;
    height: auto; 
  }


/* designated fonts */
p, h3 {
    font-family: 'Century';
}
.contact {
    font-family: 'Century';
}
a {
    font-family: 'Helvetica';
}



/* Hello, I'm */
h1{
	line-height: 0.2;  /* decreases line height between h1 and h7 */
    font-size: 80px
}

/* Sara Almulla */
h7{
	/* typing effect */
    /* tutorial: https://youtu.be/yefgBA1CecI?si=UmHzULo5xMf5XG5q */
	display: inline-block;
	border-right: 15px solid;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	animation:
	typing 2s steps(12),
	cursor .4s step-end infinite alternate;
}

/* line blinking after typing */
@keyframes cursor {
    50% { border-color: transparent; }
}
 /* typing */
@keyframes typing {
    from { width: 0 }
}


/* responsive styling for iphone */
@media only screen and (max-width: 390px) {
    .subtitle {
        font-size: 30px; 
    }
    .title {
        font-size: 60px;
    }
    .title1, h1 {
        font-size: 50px; 
    }
    .title1 span {
        font-size: 50px;
    }
    h7 {
        border-right: 10px solid; /* styling for typing effect for iphone */
        animation: typing 1.5s steps(8), cursor .4s step-end infinite alternate;
    }
}


/* portfolio section */
   .types_text {
            text-align: center; /* centers the text */
            font-weight: bold;
        }

        .coffee_img {
            text-align: center; /* centers the images under the .coffee_img class */
        }

        .coffee_img img {
            max-width: 100%; /* makes sure the image doesn't exceed its container */
            height: auto; /* maintains aspect ratio */
            margin-top: 10px; /* distance between text and image */
        }


/* dot cursor */
.cursor-dot {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000; /* makes it so that cursor overlays all the elements on the website */
    pointer-events: none;
    animation: changeColor 5s infinite; /* changes color every 5 seconds */
}


/* color changing effect for cursor */
@keyframes changeColor {
    0% {
        background-color: #efb1ec;
    }
    50% {
        background-color: #ffaa79; 
    }
    100% {
        background-color: #ff787c;
    }
}

